@font-face {
    font-family: star-wars;
    src: url('assets/fonts/STJEDISE.TTF');
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: star-wars;
    font-weight: lighter;
    color: yellow;
    background-image: url('assets/bg.jpg');
    transition: all 0.5s;
}

h1 {
    text-align: center;
    font-size: 250%;
}

.weapon {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}

.halo {
    width:20px;
    height:450px;
    border:1px solid lightgreen; 
    border-radius: 10px 10px 0px 0px;
    background: green;
    box-shadow:0 0 10px lightgreen;
}

