@font-face {
    font-family: star-wars;
    src: url('assets/fonts/STJEDISE.TTF');
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: star-wars;
    font-weight: lighter;
    color: yellow;
    background-image: url('assets/bg.jpg');
    transition: backgroundColor 0.05s ease-in-out;
}

h1 {
    text-align: center;
}

.weapon {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide {
    visibility: hidden;
}